# Git
.git
.gitignore
.gitattributes

# Build
build/
.gradle/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite-journal
backups/

# Temporary
*.tmp
*.temp
*.swp
*.swo
